<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MainConnectionString" connectionString="Data Source=madalina-PC\SQLEXPRESS;Initial Catalog=BW_Dev;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="TempIndexRootPath" value="d:/GitHub/TeamDoWebService/TeamDoWebService/App_Data/temp/" />

    <add key="IndexRootPath" value="d:/GitHub/TeamDoWebService/TeamDoWebService/App_Data/lucene" />

    <add key="BackupsRootPath" value="c:/temp/Backups/" />
    <add key="RelativeMorphFiles" value="d:/GitHub/TeamDoWebService/TeamDoWebService/hspell-data-files/"/>
    <add key="RunEnglishIndex" value="1" />
    <add key="RunHebrewIndex" value="1" />
    <add key="RunSpanishIndex" value="1" />
    <add key="RunKeywordsIndex" value="1" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
